<div class="container">
  <h4>Cadastro de Planejamento</h4>
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form >


                        <br/>

                          <div class="form-inline">
                              <div class="form-group">
                            <h4>Data:</h4>
                              <input type="text" class="form-control" placeholder="CEP" ng-model="cliente.cep" required>
                              </div>
                              <div class="form-group">
                                <h4>Hora:</h4>
                                  <input type="text" class="form-control" placeholder="CEP" ng-model="cliente.cep" required>
                              </div>
                              <div class="form-group">
                                <h4>OS/PO/Remessa:</h4>
                                  <input type="text" class="form-control" placeholder="CEP" ng-model="cliente.cep" required>
                              </div>
                          </div>

                          <div class="form-inline">
                            <div class="form-group">
                              <h4>Movimentação:</h4>
                                <input type="text" class="form-control" placeholder="CEP" ng-model="cliente.cep" required>
                            </div>

                              <div class="form-group">
                              <h4>Categoria:</h4>
                                <input type="text" class="form-control" placeholder="CEP" ng-model="cliente.cep" required>
                            </div>


                                <h4>Fornecedor:</h4>
                              <select class="form-control" name="estado" style="max-width:20%;" ng-model="cliente.estado">
                                <option value="">Estado</option>
                                <option value="AC">Acre (AC)</option>
                                <option value="AL">Alagoas (AL)</option>
                              </select>

                          </div>

                          




  <div class="form-inline">
                          <div class="form-group">
                            <h4>Produto:</h4>
                            <select class="form-control" name="estado" style="max-width:20%;" ng-model="cliente.estado">
                              <option value="">Estado</option>
                              <option value="AC">Acre (AC)</option>
                              <option value="AL">Alagoas (AL)</option>
                            </select>
                          </div>


                            </div>
                            <div class="form-group">
                              <h4>Transportadora:</h4>
                              <select class="form-control" name="estado" style="max-width:20%;" ng-model="cliente.estado">
                                <option value="">Estado</option>
                                <option value="AC">Acre (AC)</option>
                                <option value="AL">Alagoas (AL)</option>
                              </select>
                            </div>
                             <br />

                             <h4>Peso/QTD:</h4>
                               <div class="form-group">
                                   <input type="text" class="form-control" placeholder="CEP" ng-model="cliente.cep" required>
                               </div>
                               <h4>UNIDADE</h4>
                                 <div class="form-group">
                                     <input type="text" class="form-control" placeholder="CEP" ng-model="cliente.cep" required>
                                 </div>
                                 <h4>Area:</h4>
                                   <div class="form-group">
                                       <input type="text" class="form-control" placeholder="CEP" ng-model="cliente.cep" required>
                                   </div>
                                   <h4>Ordem  :</h4>
                                     <div class="form-group">
                                         <input type="text" class="form-control" placeholder="CEP" ng-model="cliente.cep" required>
                                     </div>
                                     <h4>Status  :</h4>
                                     <h4>Observação:</h4>
                                       <div class="form-group">
                                           <input type="text" class="form-control" placeholder="CEP" ng-model="cliente.cep" required>
                                       </div>
                        <div class="clearfix">
                            <button type="button" ng-click="cadastroClientePef()" value="Cadastrar" class="btn btn-primary">Cadastrar</button>
                            <input type="reset" value="Limpar" class="btn btn-primary">
                            <a href="#!/cliente">
                              <button type="button" class="btn btn-primary">Cancelar</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
