

              <div class="card card-container">

<form action="" method="post">

<fieldset>
<legend><h4>Dados da Obra</h4></legend>
</fieldset>
<!-- embutidos-->
<p></p>
<p></p>
<p></p>

<fieldset>
 <legend><h4>Cadastro de Embutidos</h4></legend>
 <table cellspacing="10">

   <tr>
    <td>
     <label for="descricao">Descrição: </label>
    </td>
    <td align="left">
     <input type="text" name="descricao" size="80">
    </td>
   </tr>
  <tr>
   <td>
    <label for="quantidade">Quantidade Necessária:</label>
   </td>
   <td align="left">
    <input type="text" name="quantidade" size="10">
   </td>
  </tr>
 </table>
</fieldset>
<br />

<button class="btn btn-primary" type="submit">Cadastrar</button>
<button class="btn btn-primary" >Limpar </button>
</div>
