<div class="card card-container">
  <form action="" method="post">
    <br />
    <!-- usuario -->
    <fieldset>
      <legend>
        <h4>Cadastro de central de concreto</h4></legend>
      <table cellspacing="10">

        <tr>
          <td>
            <label for="central"> Central de concreto: </label>
          </td>
          <td align="left">
            <input type="text" class="form-control" placeholder="" name="centralConcreto" ng-model="centralConcreto.nomeCentralProd">
            <!--<input type="text" name="status" size="20">-->
          </td>
        </tr>
      </table>
    </fieldset>
    <br />

    <button class="btn btn-primary" type="button" ng-click="cadastrarCentralConcreto()">Cadastrar</button>
    <button class="btn btn-primary" type="reset" value="Limpar">Limpar </button>
    <a href="#!/centralConcreto">
      <button type="button" class="btn btn-primary">Cancelar</button>
    </a>
</div>
