<div class="container">
  <h4>Cadastro de Projeto</h4>
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form ng-submit="">
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                          <select class="form-control" name="obra" style="max-width:20%;" ng-model="projeto.idTrecho">
                                <option value="">Trecho</option>
                                <option ng-repeat="trecho in listaTrechos" value="{{trecho.idTrecho}}">{{trecho.nomeTrecho}}</option>
                             </select>
                        </div>
                        <h4>Dados do Projeto:</h4>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Descrição" ng-model="projeto.descricao" required>
                        </div>
                        <div class="form-group">
                          <select class="form-control" name="obra" style="max-width:20%;" ng-model="projeto.idPlantaProj">
                                <option value="">Nº do Projeto</option>
                                <option ng-repeat="planta in listaPlantas" value="{{planta.idPlantaProj}}">{{planta.nomePlanta}}</option>
                             </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Projetista" ng-model="projeto.projetista" required>
                        </div>
                        <div class="form-group">
                          <select class="form-control" name="obra" style="max-width:20%;" ng-model="projeto.idTipoProj">
                                <option value="">Tipo Projeto</option>
                                <option ng-repeat="tipoProjeto in listaTipoProjeto" value="{{tipoProjeto.idTipoProj}}">{{tipoProjeto.tipoProj}}</option>
                             </select>
                        </div>
                           <br/>
                          <div class="form-group">
                            <font color="#A8A8A8"> &nbsp;&nbsp;Projeto:</font>
                            <label class="radio-inline"><input type="radio" value="1" name="optradio"   ng-model="projeto.idCatProj" required>Interno</label>
                            <label class="radio-inline"><input type="radio" value="2" name="optradio"  ng-model="projeto.idCatProj" required>Externo</label>
                          </div>
                          <br/>
                      <h4>Dados da Revisão:</h4>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Revisão"  ng-model="revisao.revisao" required>
                          </div>
                          <div class="form-group">
                            <tr>
                            <font color="#A8A8A8"> &nbsp;&nbsp;Data de Revisão:</font>
                              <input type="date" style="max-width:20%;" class="form-control" placeholder="Prazo de Conclusão"  ng-model="revisao.dataRevisao" required>
                            </tr>
                          </div>
                          <div class="form-group">
                            <tr>
                            <font color="#A8A8A8"> &nbsp;&nbsp;Data de Recebimento:</font>
                              <input type="date" style="max-width:20%;" class="form-control" placeholder="Prazo de Conclusão"  ng-model="revisao.dataRecebimento" required>
                            </tr>
                          </div>
                        <div class="clearfix">
                            <button type="button" ng-click="cadastrarProjeto()" value="Cadastrar" class="btn btn-primary">Cadastrar</button>
                            <input type="reset" value="Limpar" class="btn btn-primary">
                            <a href="#!/obra">
                              <button type="button" class="btn btn-primary">Cancelar</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
