<div class="card card-container">

  <form action="" method="post">

    <fieldset>
      <legend>
        <h4>Selecione o Grupo de Peças</h4></legend>

      <form>
        <div class="form-row">
          <div class="col-md-4">
            <label for="peca">Grupo de Peças: </label>
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
        <div class="form-row">
          <!--<div class="col-md-4">
            <label for="peca">Peça: </label>
            <input type="text" class="form-control" placeholder="">
          </div> -->
        </div>
      </form>

      <!--<input type="text" name="gpeca" size="20">-->

      <!--<input type="text" name="peca" size="20">-->
    </fieldset>
    <!-- embutidos-->
    <p></p>
    <p></p>
    <p></p>

    <fieldset>
      <legend>
        <h4>Editar Grupo de Peças</h4></legend>
      <table cellspacing="10">

        <tr>
          <td>
            <label for="peca">Peça: </label>
          </td>
          <td align="left">
            <form>
              <div class="form-row">
                <div class="col-md-8">
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </form>
            <!--<input type="text" name="peca" size="20">-->
          </td>
        </tr>
        <tr>
          <td>
            <label for="forma">Forma:</label>
          </td>
          <td align="left">
              <select  class="custom-select mb-2 mr-sm-2 mb-sm-0" name="forma">
              <option value="fm1">Forma 1</option>
              <option value="fm2">Forma 2</option>
              <option value="fm3">Forma 3</option>
            </select>
            <!--<select  class="custom-select mb-2 mr-sm-2 mb-sm-0" name="forma">
              <option value="fm1">forma1</option>
              <option value="fm2">forma2</option>
              <option value="fm3">forma3</option>
            </select>-->
          </td>
          <td>
            <label for="grupo">Agrupamento:</label>
          </td>
          <td align="left">

            <select  class="custom-select mb-2 mr-sm-2 mb-sm-0" name="agrupamento">
              <option value="fm1">Grupo 1</option>
              <option value="fm2">Grupo 2</option>
              <option value="fm3">grupo 3</option>
            </select>

            <!--<select name="grupo">
              <option value="gp1">grupo1</option>
              <option value="gp2">grupo2</option>
              <option value="gp3">grupo3</option>
            </select>-->
          </td>
        </tr>
        <tr>
          <td>
            <label for="secao">Seção (cm):</label>
          </td>
          <td align="left">
            <form>
              <div class="form-row">
                <div class="col-md-4">
                  <input type="text" class="form-control" placeholder="">
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </form>
            <!--<input type="text" name="sec1" size="6"> x
            <input type="text" name="sec2" size="7"> (cm²)-->
          </td>
          <td>
            <label for="comp">Comprimento: </label>
          </td>
          <td align="left">
            <input type="text" class="form-control" placeholder="">
            <!--<input type="text" name="comp" size="10">-->
          </td>
        </tr>
        <tr>
          <td>
            <label for="total">Total de Peças: </label>
          </td>
          <td align="left">
           <form>
              <div class="form-row">
                <div class="col-md-8">
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </form>
            <!--<input type="text" name="total" size="20">-->
          </td>
          <td>
            <label for="frag">Fragmentada: </label>
          </td>
          <td>
            <input type="text" class="form-control" placeholder="" name="frag">
            <!--<input type="checkbox" name="frag">-->
          </td>
        </tr>
        <tr>
          <td>
            <label for="volume">Vol. Unit.: </label>
          </td>
          <td align="left">
            <form>
              <div class="form-row">
                <div class="col-md-8">
                  <input type="text" class="form-control" placeholder="m³">
                </div>
              </div>
            </form>
            <!--<input type="text" name="volume" size="20"> (m³)-->
          </td>
          <td>
            <label for="rep">Repetição: </label>
          </td>
          <td align="left">
            <input type="text" class="form-control" placeholder="" name="rep">
            <!--<input type="text" name="rep" size="10">-->
          </td>
        </tr>
        <tr>
          <td>
            <label for="iniciado">Iniciado de: </label>
          </td>
          <td align="left">
            <input type="text" class="form-control" placeholder="" name="iniciado">
            <!--<input type="text" name="iniciado" size="20">-->
          </td>
        </tr>
      </table>
    </fieldset>
    </br>

    <form>
      <div class="form-row">
        <div class="col">
          <button class="btn btn-primary" type="submit">Salvar</button>
          <button class="btn btn-primary">Limpar </button>
	      <button class="btn btn-danger" type="reset" value="Limpar">Remover Peça</button>
        </div>
      </div>
    </form>

    <div class="col-md-6">
    	
    
	    

    </div>
    
</div>
