<div class="card card-container">

  <form action="" method="post">
    <fieldset>
      <legend>
        <h4>Editar grupo de peças</h4></legend>
      <table cellspacing="10">

        <tr>
          <td>
            <label for="unidade"> Grupo: </label>
          </td>
          <td align="left">
            <input type="text" class="form-control" placeholder="Novo Grupo" name="unidade">
            <!--<input type="text" name="unidade" size="10">-->
          </td>
        </tr>
      </table>
    </fieldset>
    <br />

    <button class="btn btn-primary" type="submit">Salvar</button>
    <button class="btn btn-primary" type="reset" value="Limpar">Limpar </button>
    <a href="#!/grupoPecas">
      <button type="button" class="btn btn-primary">Cancelar</button>
    </a>

</div>
