<div class="card card-container">

  <form >

    <br />
    <!-- usuario -->
    <fieldset>
      <legend>
        <h4>Editar Equipameto de Transporte</h4></legend>
      <table cellspacing="10">

        <tr>
          <td>
            <label for="unidade"> Descrição: </label>
          </td>
          <td align="left">
            <input type="text" class="form-control" placeholder="" ng-model="equipamentoTransporte.descricao" name="unidade">

          </td>
        </tr>
      </table>
    </fieldset>
    <br />

    <button class="btn btn-primary" type="button" ng-click="editarEquipamentoTransporte()">Salvar</button>
    <button class="btn btn-primary" type="reset" value="Limpar">Limpar </button>
    <a href="#!/equipamentoTransporte">
      <button type="button" class="btn btn-primary">Cancelar</button>
    </a>

</div>
