<div class="container">
  <h4>Editar Quantitativo de Peças</h4>
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                  <div class="container" ng-app="showApp" ng-controller="clienteCtrl">
                  <div class="row">
                  <div class="col-md-9">
                    <form ng-submit="">
                      <div class="form-group">
                        <select class="form-control" name="grupoPecas" style="max-width:20%;">
                              <option value="">Grupo 1</option>
                              <option value="AC">Grupo 2</option>
                              <option value="AL">Grupo 3</option>
                           </select>
                           <br/>
                      </div>
                      <div class="form-group">
                      <input type="text" class="form-control" placeholder="Nome" ng-model="peca.nome" required>
                    </div>
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Agrupamento" ng-model="peca.agrupamento" required>
                      </div>
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Seção" ng-model="peca.secao" required>
                      </div>
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Comprimento" ng-model="peca.comprimento" required>
                      </div>
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Volume Unitário" ng-model="peca.volumeUnitario" required>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">Bitolas</div>
                          <div class="panel-body">
                            <div class="form-group" >
                              <select class="form-control" name="bitolaAco" style="max-width:20%;">
                                    <option value="">Bitola 1</option>
                                    <option value="AC">Bitola 2</option>
                                    <option value="AL">Bitola 3</option>
                                 </select>
                            </div></div>
                            <input type="text" class="form-control" style="width:300px" placeholder="Quantidade" ng-model="peca.volumeUnitario" required>
                          <br>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal" >Adicionar bitola</button>
                      </div>

                      <h4>Peça:
                      <label class="radio-inline"><input type="radio" value="Fragmentada" name="optradio"  ng-model="projeto.tipo" checked>Fragmentada</label>
                      <label class="radio-inline"><input type="radio" value="NãoFragmentada" name="optradio" ng-model="projeto.tipo" >Não Fragmentada</label>
                    </h4>
                      <div class="row">
                        <br/>
                      <div ng-show="projeto.tipo == 'Fragmentada'">

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Código do fragemento " ng-model="fragemento.codigo" required>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Volume do fragmento" ng-model="fragemento.volume" required>
                        </div>

                      </div>
                      <div ng-show="projeto.tipo == 'NãoFragmentada'">

                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                        <br/>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Iniciada de" ng-model="pecas.iniciada" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="repetições" ng-model="pecas.repeticoes" required>
                        </div>
                        <div class="form-group">
                          <select class="form-control" name="Projeto Seguido" style="max-width:20%;">
                                <option value="">Projeto 1</option>
                                <option value="AC">Projeto 2</option>
                                <option value="AL">Projeto 3</option>
                             </select>

                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Quantidade de embutidos" ng-model="quantidadeEmbutidos" required>
                          <br>
                          <select class="form-control" name="Embutido" style="max-width:20%;">
                                <option value="">Embutido 1</option>
                                <option value="AC">Embutido 2</option>
                                <option value="AL">Embutido 3</option>
                             </select>
                        </div>
                        <div class="clearfix">
                            <input type="submit" value="Salvar" class="btn btn-primary" ng-click="cadastroQuantitativoPeca()">
                            <input type="reset" value="Limpar" class="btn btn-primary">

                            <a href="#!/quantitativo">
                              <button type="button" class="btn btn-primary">Cancelar</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
