
              <div class="card card-container">

<form action="" method="post">
  <fieldset>
  <legend><h4>Selecione o Usuário:</h4></legend>
  <tr>
  <td><label for="email">Email: </label></td>
  <td align="left"><input type="email" class="form-control" id="inputEmail4" placeholder="Email"></td>
  <!--<input type="text" name="email"> -->
  </tr>
  </fieldset>
  <!-- embutidos-->
  <p></p>
  <p></p>
  <p></p>

<br />
<!-- usuario -->
<fieldset>
 <legend><h4>Editar Usuário</h4></legend>
 <table cellspacing="10">

   <tr>
    <td>
     <label for="email">Novo Email: </label>
    </td>
    <td align="left">
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
     <!-- <input type="text" name="email"> -->
    </td>
   </tr>
  <tr>
   <td>
    <label for="senha1">Nova Senha:</label>
   </td>
   <td align="left">
      <input type="password" class="form-control" id="inputPassword2" placeholder="Senha">
    <!-- <input type="password" name="senha1"> -->
   </td>
   <td>
    <label for="senha2">Confirmar Senha:</label>
   </td>
   <td align="left">
      <input type="password" class="form-control" id="inputPassword2" placeholder="Confirmar Senha">
    <!-- <input type="password" name="senha2" size="20"> -->
   </td>
  </tr>
  <tr>
   <td>
    <label for="tipo">Usuário:</label>
   </td>
   <td align="left">
        <select  class="custom-select mb-2 mr-sm-2 mb-sm-0" name="usuario">
              <option value="fm1">Tipo 1</option>
              <option value="fm2">Tipo 2</option>
              <option value="fm3">Tipo 3</option>
            </select>
    <!--
    -->
   </select>
   </td>
  </tr>
 </table>
</fieldset>
<br />

<button class="btn btn-primary" type="submit">Salvar</button>
<button class="btn btn-primary" type="reset" value="Limpar" >Limpar </button>
<button  class="btn btn-danger" type="reset" value="Limpar" >Remover Usuário </button>
</div>
