<div class="container">
   <h4>Equipamentos de Transporte Cadastrados</h4>
    <div class="row">      <!--  Excluído ng-hide="!equipamentoTransportes.length" dessa view pq estava dando erro procurar problema e solução -->
        <div class="col-md-10">
          <div class="well">
          <label><input type="text"class="form-control" ng-model="criteria" placeholder="Buscar...">
          </label>
           </div>
            <table class="table table-striped table-bordered" ng-table ="usersTable">
                <thead>
                    <tr>
                        <th width=3% ><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
                        <th ng-click="ordenar('nomeEquip')">Descrição</th>
                        <!-- <th>Editar</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="equipamentoTransporte in equipamentoTransportes | filter:criteria | orderBy:sortKey:reverse | itemsPerPage:8">
                        <td>
                            <input type="checkbox" ng-model="equipamentoTransporte.selected"/></td>
                        <td>{{equipamentoTransporte.nomeEquip}}</td>
                        <td align="center" width=5%><p  title="Edit"><button class="btn btn-primary btn-xs" ng-click="getEquipamentoTransp(equipamentoTransporte)" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="8" boundary-links="true"></dir-pagination-controls>
            <div class="form-group">
                <a href="#!/cadastroEquipamentoTransporte">
                  <button type="button" class="btn btn-primary">Cadastrar</button>
                </a>
                <input type="button" class="btn btn-danger " ng-click="removerEquipamentoTransporte()" value="Remover">
            </div>
        </div>
    </div>
<br />
</div>


<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Editar Equipamento de Transporte </h4>
      </div>
          <div class="modal-body">
          <div class="form-group">
        <input class="form-control " type="text" ng-model="equipamentoTransporte[0].nomeEquip" value="{{equipamentoTransporte[0].nomeEquip}}" name="equipamentoTransporte[0].nomeEquip"></input>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="editarEquipamentoTransporte(equipamentoTransporte[0])" data-dismiss="modal">Salvar</button>
      </div>
        </div>
    <!-- /.modal-content -->
  </div>
      <!-- /.modal-dialog -->
    </div>
