
<div class="container">
  <style>
.selected {
    background-color:grey;
    color:black;

}
</style>

  <h4>Registro Operacional</h4>
  <div class="row" ng-hide="!planejamentosPendentes.length">
    <div class="col-md-10" style="padding-left: 0px;">
      <div class="well">
        <label><input type="text"class="form-control" ng-model="criteria" placeholder="Buscar...">
        </label>
      </div>
      <table class="table  table-bordered table-responsive" align="left"  ng-table ="operacionalTable">
        <thead>
          <tr>
            <th width=3%><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
            <th ng-click="ordenar('nome')">Código</th>
            <th ng-click="ordenar('email')">Ordem</th>
            <th>Data</th>
            <th>Hora</th>
            <th>Movimentação</th>
            <th>Categoria</th>
            <th>Fornecedor</th>
            <th>Produto</th>
            <th>Transportadora</th>
            <th>Quantidade</th>
            <th>Área</th>
            <th>Status</th>
            <!--  <th>Editar</th> -->
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="planejamento in planejamentosPendentes | filter:criteria | orderBy:sortKey:reverse | itemsPerPage:8"
          ng-class="{'selected':planejamento.id == selectedRow}" ng-click="setClickedRow(planejamento.id)" >
            <td>
              <input type="checkbox" ng-model="planejamento.selected"/>
            </td>
            <td>{{planejamento.id}}</td>
            <td>{{planejamento.ordem}}</td>
            <td>{{planejamento.dataPlanejamento}}</td>
            <td>{{planejamento.horaPlanejamento}}</td>
            <td>{{planejamento.movimentacao.movimentacao}}</td>
            <td>{{planejamento.categoria.categoria}}</td>
            <td>{{planejamento.fornecedor.fornecedor}}</td>
            <td>{{planejamento.produto.produto}}</td>
            <td>{{planejamento.transportadora.transportadora}}</td>
            <td>{{planejamento.quantidade}}</td>
            <td>{{planejamento.area.area}}</td>
            <td>{{planejamento.status.nomeStatus}}</td>
            <td align="left" width=4%>

              <p  title="Edit">
                <button class="btn btn-primary btn-sm" ng-click="" data-title="Edit" data-toggle="modal" data-target="#edit" >
                  <span class="glyphicon glyphicon-pencil"></span>
                </button></p>

              </td>
            </tr>
          </tbody>
        </table>
        <dir-pagination-controls max-size="8" boundary-links="true"></dir-pagination-controls>
        <div class="form-group">
          <a href="#!/cadastroOperacional">
            <button type="button" class="btn btn-primary" ng-click="registrarOperacao(selectedRow)" ng-disabled="selectedRow == null">Cadastrar</button>
          </a>
          <!-- <a href="#!/editarUsuario">
          <button type="button" class="btn btn-primary">Editar</button>
        </a> -->
        <input type="button" class="btn btn-danger " ng-click="removerPlanejamento()" value="Remover">
      </div>
    </div>
  </div>
  <br />
</div>
