<div class="container">
   <h4 class="page-header">Registros Concluidos</h4>
    <div class="row" ng-hide="!registrosConcluidos.length">
        <div class="col-md-10">
           <table class="table table-condensed table-striped table-bordered table-responsive" ng-table ="regCTable">
                <thead>
                    <tr>
                      <th ng-click="ordenar('registroConcluido.id')">Código</th>
                         <th >Ordem</th>
                           <th>Data</th>
                             <th>Hora</th>
                              <th>Movimentação</th>
                                 <th>Categoria</th>
                                      <th>Fornecedor</th>
                                    <th>Produto</th>
                                     <th>Transportadora</th>
                                       <th>Quantidade</th>

                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="registroConcluido in registrosConcluidos | filter:criteria | orderBy:sortKey:reverse | itemsPerPage:5">
                        <td>{{registroConcluido.id}}</td>
                        <td>{{registroConcluido.ordem}}</td>
                        <td>{{registroConcluido.dataPlanejamento}}</td>
                        <td>{{registroConcluido.horaPlanejamento}}</td>
                        <td>{{registroConcluido.movimentacao.movimentacao}}</td>
                        <td>{{registroConcluido.categoria.categoria}}</td>
                          <td>{{registroConcluido.fornecedor.fornecedor}}</td>
                         <td>{{registroConcluido.produto.produto}}</td>
                     <td>{{registroConcluido.transportadora.transportadora}}</td>
                        <td>{{registroConcluido.quantidade}}</td>
                      </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="8" boundary-links="true"></dir-pagination-controls>

        </div>
    </div>
<br />
</div>



<div class="container">
   <h4>Registros não Concluidos</h4>
    <div class="row" ng-hide="!registrosNaoConcluidos.length">
        <div class="col-md-10">
          <table class="table table-condensed table-striped table-bordered table-responsive" ng-table ="regNCTable">
                <thead>
                    <tr>
                      <th ng-click="ordenar('registroNaoConcluido.id')">Código</th>
                         <th >Ordem</th>
                           <th>Data</th>
                             <th>Hora</th>
                              <th>Movimentação</th>
                                 <th>Categoria</th>
                                      <th>Fornecedor</th>
                                    <th>Produto</th>
                                     <th>Transportadora</th>
                                       <th>Quantidade</th>

                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="registroNaoConcluido in registrosNaoConcluidos | filter:criteria | orderBy:sortKey:reverse | itemsPerPage:5">
                        <td>{{registroNaoConcluido.id}}</td>
                        <td>{{registroNaoConcluido.ordem}}</td>
                        <td>{{registroNaoConcluido.dataPlanejamento}}</td>
                        <td>{{registroNaoConcluido.horaPlanejamento}}</td>
                        <td>{{registroNaoConcluido.movimentacao.movimentacao}}</td>
                        <td>{{registroNaoConcluido.categoria.categoria}}</td>
                          <td>{{registroNaoConcluido.fornecedor.fornecedor}}</td>
                         <td>{{registroNaoConcluido.produto.produto}}</td>
                     <td>{{registroNaoConcluido.transportadora.transportadora}}</td>
                        <td>{{registroNaoConcluido.quantidade}}</td>
                      </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="8" boundary-links="true"></dir-pagination-controls>
        </div>
    </div>
<br />
</div>

<div class="container">
   <h4>Registros Em Operação</h4>
    <div class="row" ng-hide="!registrosEmOperacao.length">
        <div class="col-md-10">
           <table class="table table-condensed table-striped table-bordered table-responsive" ng-table ="regiEATable">
                <thead>
                    <tr>
                      <th ng-click="ordenar('registroEmOperacao.id')">Código</th>
                         <th >Ordem</th>
                           <th>Data</th>
                             <th>Hora</th>
                              <th>Movimentação</th>
                                 <th>Categoria</th>
                                      <th>Fornecedor</th>
                                    <th>Produto</th>
                                     <th>Transportadora</th>
                                       <th>Quantidade</th>

                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="registroEmOperacao in registrosEmOperacao | filter:criteria | orderBy:sortKey:reverse | itemsPerPage:5">
                        <td>{{registroEmOperacao.id}}</td>
                        <td>{{registroEmOperacao.ordem}}</td>
                        <td>{{registroEmOperacao.dataPlanejamento}}</td>
                        <td>{{registroEmOperacao.horaPlanejamento}}</td>
                        <td>{{registroEmOperacao.movimentacao.movimentacao}}</td>
                        <td>{{registroEmOperacao.categoria.categoria}}</td>
                          <td>{{registroEmOperacao.fornecedor.fornecedor}}</td>
                         <td>{{registroEmOperacao.produto.produto}}</td>
                     <td>{{registroEmOperacao.transportadora.transportadora}}</td>
                        <td>{{registroEmOperacao.quantidade}}</td>
                      </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="8" boundary-links="true"></dir-pagination-controls>
        </div>
    </div>
<br />
</div>
