<div class="container">
   <h4>Planejamentos Cadastrados</h4>
    <div class="row" ng-hide="!personalDetails.length">
        <div class="col-md-10">
          <div class="well">
          <label><input type="text"class="form-control" ng-model="criteria" placeholder="Buscar...">
          </label>
           </div>
            <table class="table table-striped table-bordered table-responsive" ng-table ="usersTable">
                <thead>
                    <tr>
                        <th width=3%><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
                        <th ng-click="ordenar('nome')">Código</th>
                         <th ng-click="ordenar('email')">Ordem</th>
                           <th>Data</th>
                             <th>Hora</th>
                              <th>Movimentação</th>
                                 <th>Categoria</th>
                                      <th>Fornecedor</th>
                                    <th>Produto</th>
                                     <th>Transportadora</th>
                                       <th>Quantidade</th>
                                        <!--     <th>Área</th>
                                             <th>Status</th>
                    <th>Editar</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="planejamento in planejamentos | filter:criteria | orderBy:sortKey:reverse | itemsPerPage:8">
                        <td>
                            <input type="checkbox" ng-model="usuario.selected"/>
                        </td>
                        <td>{{planejamento.id}}</td>
                        <td>{{planejamento.ordem}}</td>
                        <td>{{planejamento.dataPlanejamento}}</td>
                        <td>{{planejamento.horaPlanejamento}}</td>
                        <td>{{planejamento.movimentacao.movimentacao}}</td>
                        <td>{{planejamento.categoria.categoria}}</td>
                          <td>{{planejamento.fornecedor.fornecedor}}</td>
                         <td>{{planejamento.produto.produto}}</td>
                     <td>{{planejamento.transportadora.transportadora}}</td>
                        <td>{{planejamento.quantidade}}</td>
                        <!--    <td>{{planejamento.area.area}}</td>
                        <td>{{planejamento.status.nomeStatus}}</td>-->
                        <td align="center" width=5%><p  title="Edit"><button class="btn btn-primary btn-xs" ng-click="getUsuario(usuario)" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                        <td align="center" width=5%><p  title="Edit"><button class="btn btn-primary btn-xs" ng-click="getUsuario(usuario)" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="8" boundary-links="true"></dir-pagination-controls>
            <div class="form-group">
                <a href="#!/cadastroPlanejamento">
                  <button type="button" class="btn btn-primary">Cadastrar</button>
                </a>
                <!-- <a href="#!/editarUsuario">
                  <button type="button" class="btn btn-primary">Editar</button>
                </a> -->
                <input type="button" class="btn btn-danger " ng-click="removerPlanejamento()" value="Remover">
            </div>
        </div>
    </div>
<br />
</div>


<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Editar Usuário </h4>
      </div>
          <div class="modal-body">
          <div class="form-group">
            <input class="form-control " type="text" ng-model="usuario[0].nome" value="{{usuario[0].nome}}" name="usuario[0].nome" required></input>
            <br>
            <input class="form-control " type="email" ng-model="usuario[0].email" value="{{usuario[0].email}}" name="usuario[0].email" required></input>
            <br>
            <input class="form-control " type="password" placeholder="Nova Senha" ng-model="usuario[0].senha" value="{{usuario[0].senha}}" name="usuario[0].senha" required></input>
            <br>
            <div class="form-group">
              <b>Tipo de usuário:</b>
              <label class="radio-inline"><input type="radio" value=1 name="usuario[0].idPrivilegio"  ng-model="usuario[0].idPrivilegio" required>Administrador</label>
              <label class="radio-inline"><input type="radio" value=2 name="usuario[0].idPrivilegio" ng-model="usuario[0].idPrivilegio" required>Funcionário</label>
            </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="editarUsuario(usuario[0])" data-dismiss="modal">Salvar</button>
      </div>
        </div>
    <!-- /.modal-content -->
  </div>
      <!-- /.modal-dialog -->
    </div>
