
           <div class="row">
               <div class="col-lg-12">
                   <h4 class="page-header">Relatórios</h4>
               </div>
               <!-- /.col-lg-12 -->
           </div>
           <!-- /.row -->
           <div class="row">
                <div class="col-lg-12">
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           Line Chart Example
                       </div>
                       <!-- /.panel-heading -->
                 <div class="panel-body">
                           <div class="flot-chart">
                               <div class="flot-chart-content" id="flot-line-chart"></div>
                           </div>
                       </div>
                       <!-- /.panel-body -->
               </div>
                   <!-- /.panel -->
            </div>
               <!-- /.col-lg-12 -->
               <div class="col-lg-6">
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           Planejamentos
                       </div>
                       <!-- /.panel-heading -->
                       <div class="panel-body">
                          <!-- <div class="flot-chart">
                               <div class="flot-chart-content" id="flot-pie-chart"></div>
                           </div>-->
                           <flot dataset="pieDataset" options="pieOptions" height="300px"></flot>
                       </div>
                       <!-- /.panel-body -->
                   </div>
                   <!-- /.panel -->
               </div>
               <!-- /.col-lg-6 -->
               <div class="col-lg-6">
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           Multiple Axes Line Chart Example
                       </div>
                       <!-- /.panel-heading -->
                       <div class="panel-body">
                           <div class="flot-chart">
                               <div class="flot-chart-content" id="flot-line-chart-multi"></div>
                           </div>
                       </div>
                       <!-- /.panel-body -->
                   </div>
                   <!-- /.panel -->
               </div>
               <!-- /.col-lg-6 -->
               <div class="col-lg-6">
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           Moving Line Chart Example
                       </div>
                       <!-- /.panel-heading -->
                       <div class="panel-body">
                           <div class="flot-chart">
                               <div class="flot-chart-content" id="flot-line-chart-moving"></div>
                           </div>
                       </div>
                       <!-- /.panel-body -->
                   </div>
                   <!-- /.panel -->
               </div>
               <!-- /.col-lg-6 -->
               <div class="col-lg-6">
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           Bar Chart Example
                       </div>
                       <!-- /.panel-heading -->
                       <div class="panel-body">
                           <div class="flot-chart">
                               <div class="flot-chart-content" id="flot-bar-chart"></div>
                           </div>
                       </div>
                       <!-- /.panel-body -->
                   </div>
                   <!-- /.panel -->
               </div>
               <!-- /.col-lg-6 -->

           </div>
           <!-- /.row -->
